{% extends 'property_portal/base.html' %}
<title>{% block title %} Edit User Profile{% endblock %}</title>

{% block body %}
<div class = "container-fluid">
    <div class ="row">
        <div class = "col-md-6">
            <div style="padding: 30px 20px 10px;">
                <h3 class="change_password" style="font-family:sans-serif; color:gray;">
                    Please enter your old password, for security's sake,
                    and then enter your new password twice so we can verify
                    you typed it in correctly.
                </h3>
                <ul style="font-family:sans; color:gray; font-size:18px;">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>
        </div>
            <div class="col-md-6">
                <div class="jumbotron" style = "padding: 10px 50px 10px; margin: 10px auto 10px; ">
                <center><h3>Change Password</h3></center>
                <form action ="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'property_portal/form-template.html' %}
                    <div class = "form-group">
                        <button type = "submit" class = "btn btn-success">Submit</button>
                    </div>
                </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}
